<div>
    Climate Control Panel

    <div class="ac-unit">
        tempSetpoint: {{ acUnit.tempSetpoint }} $actualSetpoint: {{ acUnit.$actualSetpoint}} <br />
        $ambientTempAcUnit: {{acUnit.$ambientTempAcUnit}}  $ambientTemp: {{acUnit.ambientTemp}}
    </div>
    <ul class="rooms" >
        <li class="rooms__element" ng-repeat="room in rooms">
            <span>Thermostat {{$index}}</span>
            <span>Room temp: {{room.ambientTemp}}</span>
            <span>Set temp: {{room.tempSetpoint}}</span>
            <span>Status: {{room.enabled ? 'on' : 'off'}}</span>

            <button ng-click="incrementTemp(room, $index)">+</button>
            <button ng-click="decrementTemp(room, $index)">-</button>

            <button ng-click="toggleEnable(room, $index)">toggle</button>
        </li>
    </ul>
</div>